/*добавление шрифта Google без скачивания*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");

.calc {
  width: 350px;
  border: 1px solid;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 5px 20px;
  background: #d3d8f3;
  border-radius: 10px;
  /*добавление тени*/
  box-shadow: 4px 4px 5px 0px rgba(29, 36, 39, 0.75),
    inset -3px -2px 19px 1px rgb(81, 92, 95);
  /*запрещает выделять текст на странице (цифры у калькулятора)*/
  user-select: none;
}

.result {
  width: 92%;
  margin: 20px auto;
  font-family: "Audiowide", cursive;
  text-align: right;
  background: #607d8b;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  font-size: 2.26em;
  height: 50px;
  /*данные не выходят за поле*/
  overflow: hidden;
  /*данные помещаются полностью, без обрыва цифр*/
  word-wrap: break-word;
}

.body {
  display: grid;
  /*сетка из 3 столбцов с показателями расширения 1fr*/
  grid-template-columns: repeat(5, 1fr);
}

button {
  border: none;
  border-radius: 5px;
  width: 55px;
  height: 55px;
  margin: 5px;
  text-align: center;
  outline: none;
  font-family: "Audiowide", cursive;
  box-shadow: 0px 3px 0px 0px #064a97;
  font-size: 1.2em;
  /*курсор в виде руки-указателя*/
  cursor: pointer;
}

/*анимация при нажатии*/
button:active {
  transform: translateY(2px);
}

.numb {
  background: #212b32;
  color: white;
}

.operators {
  background: #3d637d;
  color: white;
}

.ce {
  background: rgb(201, 215, 248);
}

.equal {
  background: tomato;
  color: white;
}
