body{font: medium /1.3em sans-serif;}
@font-face {
    font-family: "Comfortaa-Bold" ;
    src: url(fonts/Comfortaa-Bold.ttf);
}
#start {font: 250% "Comfortaa-Bold";text-align: center;}
#regblock {width: fit-content; 
    padding: 20px; 
    margin: 0 auto;     
 border: dashed white 2px; 
 border-radius: 15px;
 background:#d1b0d2 url(images/register.png) no-repeat;
 background-position: 250px 70px;
}
legend {font-weight: bold;}
#container {width: fit-content; 
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 200px; 
    margin: 0 auto;     
 border: dashed white 2px; 
 border-radius: 15px;
 background:#d1b0d2 url(images/avatar.png) no-repeat;
 background-position: 20px 70px;
}
#container h2  {font: 150% "Comfortaa-Bold";}
#container p {font-size: smaller;}
#container a {font-size: smaller;}


