body {
    font: medium /1.3em sans-serif;
}

@font-face {
    font-family: "Comfortaa-Bold";
    src: url(fonts/Comfortaa-Bold.ttf);
}

#start {
    font: 250% "Comfortaa-Bold";
    text-align: center;
}

#regblock {
    width: fit-content;
    padding: 20px;
    margin: 0 auto;
    border: dashed white 2px;
    border-radius: 15px;
    background: #d1b0d2 url(images/register.png) no-repeat;
    background-position: 250px 70px;
}

:required {
    border: 2px solid red;
}

button:hover {
    color: red;
}

legend {
    font-weight: bold;
}

table {
    font-size: medium;
    border-collapse: collapse;
    margin: 0 auto;
}

tr:nth-child(odd) {
    background: radial-gradient(farthest-corner at 50% 50%, white, #d1b0d2)
}

tr:last-child,
tr.tablehead {
    background: radial-gradient(farthest-corner at 50% 50%, white, #cd5ed1)
}

#cafemenu {
    font: 150% "Comfortaa-Bold";
    padding-top: 10px;
    padding-bottom: 20px;
}

.kitchen {
    font-weight: bold;
    text-align: center;
}

th {
    padding: 7px;
    border: 1px solid;
}

td {
    padding: 7px;
    border: 1px solid;
}

.drinks {
    border: #e560ea dotted 2px;
    width: 210px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background: url("images/cocktail.gif") repeat-x;
    display: inline-block;
}

#aboutcoffee {
    width: fit-content;
    text-align: left;
}

#selectorExp h1~p {
    background-color: #d1b0d2;
}

#selectorExp::first-line {
    color: #cc20d2;
    text-decoration: underline;
}